.ca-address{
	line-height:40px;
	padding:10px;
	font-size:14px;
	color:#bbb;
}
.c-item{
	padding:10px;
	background:#fff;
	border-bottom:1px solid #eee;
	position:relative;
	font-size:14px;
}
.c-num{
	width:100px;
	position:absolute;
	right:10px;
	line-height:25px;
	top:5px;
	color:#999;
	border:1px solid #eee;
	text-align:center;
}
.c-inc,.c-rem{
	width:30px;

}
.c-inc{
	border-left:1px solid #eee;
}
.c-rem{
	border-right:1px solid #eee;
}
.c-link{
	color:#FA800F;
}
.c-sub-f{
	width:100%;
	text-align:right;
	height:50px;
	padding-right:15px;
	padding-top:15px;
}
.c-sub{
	width:70px;
	text-align:center;
	color:#fff;
	border-radius:10px;
	background:#FA800F;
	line-height:25px;
	font-size:14px;
	display:inline-block;
}